<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        SISVITA
      </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">FORMULARIO DE REGISTRO DE ESTUDIANTE</h5>
          <form [formGroup]="estudianteForm">
            <div class="row mb-3">
              <label for="inputDocIdentidad" class="col-sm-2 col-form-label">Documento de Identidad:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputDocIdentidad" placeholder="Consigne el Documento de Identidad" formControlName="doc_identidad">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputNombres" class="col-sm-2 col-form-label">Nombres:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNombres" placeholder="Consigne los Nombres" formControlName="nombres">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputApellidos" class="col-sm-2 col-form-label">Apellidos:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputApellidos" placeholder="Consigne los Apellidos" formControlName="apellidos">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputFNac" class="col-sm-2 col-form-label">Fecha de Nacimiento:</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="inputFNac" placeholder="Consigne la Fecha de Nacimiento" formControlName="fec_nacimiento">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputGenero" class="col-sm-2 col-form-label">Género:</label>
              <div class="col-sm-10">
                <select class="form-control" id="inputGenero" formControlName="id_genero">
                  <option value="">Seleccione el Género</option>
                  <option value="1">Masculino</option>
                  <option value="2">Femenino</option>
                  <option value="3">No Binario</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Consigne el Email" formControlName="email">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputDireccion" class="col-sm-2 col-form-label">Dirección:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputDireccion" placeholder="Consigne la Dirección" formControlName="direccion">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputTelefono" class="col-sm-2 col-form-label">Número de Teléfono:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTelefono" placeholder="Consigne el Número de Teléfono" formControlName="num_telefono">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputAnioIngreso" class="col-sm-2 col-form-label">Año de Ingreso:</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="inputAnioIngreso" placeholder="Consigne el Año de Ingreso" formControlName="anio_ingreso">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputCarrera" class="col-sm-2 col-form-label">Carrera:</label>
              <div class="col-sm-10">
                <select class="form-control" id="inputCarrera" formControlName="id_carrera">
                  <option value="">Seleccione la Carrera</option>
                  <option value="1">Ingeniería Informática</option>
                  <option value="2">Medicina</option>
                  <option value="3">Derecho</option>
                  <option value="4">Administración de Empresas</option>
                  <option value="5">Arquitectura</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputContrasenia" class="col-sm-2 col-form-label">Contraseña:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputContrasenia" placeholder="Consigne su contraseña" formControlName="contrasenia">
              </div>
            </div>
            <button type="submit" class="btn btn-primary"[disabled]="estudianteForm.invalid" (click)="registrarEstudiante()">Registrar</button>
          </form>
        </div><!-- end card-body -->
      </div><!-- end card cabecera -->


      <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Lista de Estudiantes</h5>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nº</th>
                        <th scope="col">Documento de Identidad</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Género</th>
                        <th scope="col">Email</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Año de Ingreso</th>
                        <th scope="col">Carrera</th>
                        <th scope="col">Contraseña</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of estudianteArray; let i = index;">
                        <td>{{ i + 1 }}</td>
                        <td>{{ estudiante.doc_identidad }}</td>
                        <td>{{ estudiante.nombres }}</td>
                        <td>{{ estudiante.apellidos }}</td>
                        <td>{{ estudiante.fec_nacimiento | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ estudiante.id_genero }}</td>
                        <td>{{ estudiante.email }}</td>
                        <td>{{ estudiante.direccion }}</td>
                        <td>{{ estudiante.num_telefono }}</td>
                        <td>{{ estudiante.anio_ingreso }}</td>
                        <td>{{ estudiante.id_carrera }}</td>
                        <td>{{ estudiante.contrasenia }}</td>
                        <td>
                          <button type="submit"class="btn btn-primary"(click)="editarEstudiante(estudiante)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-plus-fill" viewBox="0 0 16 16">
                            <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zm4.5 6V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5a.5.5 0 0 1 1 0"/>
                          </svg>
                          </button>
                          <button type="submit"class="btn btn-danger"(click)="eliminarEstudiante(estudiante)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                          </svg>
                        </button>
                        </td>
          
                    </tr>
                </tbody>
            </table>
    
        </div>
    </div>
    </div><!-- end row -->
  </div><!-- end container -->
  
